html,
body {
  box-sizing: border;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  user-select: none;
  background-color: darkgray;
}

.fb-share-button {
  background-color: rgba(0, 0, 0, 0);
}

#nav-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
}

#nav-div button {
  background-color: rgba(33, 33, 33, 0.7);
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 1%;
  font-size: 120%;
}

#nav-div button:last-child {
  background-color: rgba(33, 33, 33, 0);
}

#perspektiva {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  font-size: 400%;
  font-family: verdana;
  color: white;
}

@media only screen and (min-width: 1000px) {
  #perspektiva {
    top: 0;
  }

  #nav-div {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    flex-direction: row;
  }

  #nav-div button {
    width: 15%;
    margin-right: 2%;
  }
}
